{% extends "base.html.twig" %}
{% block titre %}Listes des livres{% endblock %}


{% block contenu %}
{% if message|length > 0 %}
<div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{% endif %}
<table class="table text-center monTableau" id="tableauLivre">

    <thead>
        <tr class="table-dark titresColonne">
            <th>Titres</th>
            <th>Auteur</th>
            <th>Nbre de pages</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>

    <tbody id="tBody">

        {% for book in books %}
        <tr>
            <td><a href="/livres/{{book._id}}">{{book.nom}}</a></td>
            <td>{{book.auteur}}</td>
            <td>{{book.nbrPages}}</td>
            <td>
                <a href="/livres/modif/{{book.id}}" class="btn btn-warning">modifier</a>
                <form action="/lives/delete/{{book.id}}" method="POST"
                    onSubmit="return confirm('etes vous sur de la suppression ?')">
                    <button class="btn btn-danger" type="submit"> supprimer </button>
                </form>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<button class="btn btn-primary w-100" onClick="afficherForm()">ajouter Livres</button>


<form action="" class="d-none" id="ajoutForm" method="POST">
    <fieldset>
        <legend> Creation d'un livre</legend>
        <div class="form-group">
            <label>Titres</label>
            <input type="text" class="form-control" id="titre" name="nom" value="">
        </div>
        <div class="form-group">
            <label>auteurs</label>
            <input type="text" class="form-control" id="auteur" name="auteur" value="">
        </div>
        <div class="form-group">
            <label>nombre de pages</label>
            <input type="number" class="form-control" id="nbre" name="nbrPages" value="">
        </div>
        <div class="form-group">
            <label>description</label>
            <input type="text" class="form-control" id="descr" name="description" value="">
        </div>
        <button id="validAjout" class="btn btn-primary" type="submit">Valider</button>
    </fieldset>
</form>
<script src="/javascript/ajoutLivre.js"></script>
{% endblock %}