{% extends "base.html.twig" %}
{% block titre %}Livre {{book.nom}} {% endblock %}

{% block contenu %}

{% if isModif %}
<form action="/livres/modifServ" method="POST">
    <div class="row m-2">
        <div class="col-6">
            <h2>Informations</h2>
            <div class="form-group">
                <label>Titres</label>
                <input type="text" class="form-control" id="titre" name="nom" value=" {{book.nom}} ">
            </div>
            <div class="form-group">
                <label>auteurs</label>
                <select name="auteur" id="auteur" class="form-control">
                    {% for auteur in auteurs %}
                        <option {% if auteur.id == book.auteur._id %} selected {% endif %} value="{{auteur._id}}">
                            
                            {{auteur.nom}}-{{auteur.prenom}}
                        </option>
                    {% endfor %}
                        
                </select>
                        
                        
            </div>
            <div class="form-group">
                <label>nombre de pages</label>
                <input type="number" class="form-control" id="nbre" name="nbrPages" value="{{book.nbrPages}}">
            </div>
        </div>
        <div class="col-6">
            <h2>resumés du Livre:</h2>
            <div class="form-group">
                <label>description</label>
                <input type="text" class="form-control" id="descr" name="description" value=" {{book.description}}">
            </div>
            <input type="hidden" name="identifiant" value="{{book._id}}">
        </div>
    </div>

    <button id="validAjout" class="btn btn-primary w-100" type="submit">Valider</button>
</form>

<form action="/livres/updateImg" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="identifiant" value="{{book._id}}">

    <h2>Image</h2>
    <div class="row">
        <div class="col-3">
            <img src="/images/{{book.image}}" alt="" style="width: 200px">
        </div>
        <div class="col-9">
            <div class="form_groupe">
                <label for="image">Image</label>
                <input type="file" name="image" class="form-controle-file" id="image">
            </div>
            <button id="validAjout" class="btn btn-primary" type="submit">Valider</button>
        </div>
    </div>

</form>








{% else %}
<div class="row m-2">
    <div class="col-6">
        <h2>Informations</h2>
        
        <div>Author : <a href="/auteur/{{book.auteur._id}}">{{book.auteur.nom}}-{{book.auteur.prenom}}</a></div>
        <div>nbre de pages : {{book.nbrPages}}</div>
        <img src="/images/{{book.image}}" alt="" style="width: 150px">
    </div>
    <div class="col-6">
        <h2>resumés du Livre:</h2>
        <div>{{book.description}}</div>
    </div>
    {% endif %}
</div>
{% endblock %}